# Hotel Demand Analysis
___

## Imports
- numpy to handle array functions
- pandas to manipulate data 
- matplotlib.pyplot for plotting data

In [550]:
# First, we'll import the needed libraries
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pycountry
import country_converter as coco
import pycountry_convert as pc
import pytz

## Introduction

Describe project

#### **Load the Data**

In [551]:
# Nest, we'll load the hotel demand dataset, which is in the "..\Module-2\" directory
df = pd.read_csv("hotel_bookings.csv") # the dataset is now a Pandas DataFrame
df.head(10) # print the first 10 rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,7/3/2015
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,7/3/2015
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,5/6/2015
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,4/22/2015

#### **Basic information about data**

In [552]:
df.shape      # Check dimensions

(119384, 32)

It appears that we have 32 columns of data and 119390 rows

In [553]:
df.dtypes # Check data type of each column

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [554]:
df.info() # Check the Dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119384 entries, 0 to 119383
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119384 non-null  object
 1   is_canceled                     119384 non-null  int64
 2   lead_time                       119384 non-null  int64
 3   arrival_date_year               119384 non-null  int64
 4   arrival_date_month              119384 non-null  object
 5   arrival_date_week_number        119384 non-null  int64
 6   arrival_date_day_of_month       119384 non-null  int64
 7   stays_in_weekend_nights         119384 non-null  int64
 8   stays_in_week_nights            119384 non-null  int64
 9   adults                          119384 non-null  int64
 10  children                        119380 non-null  float64
 11  babies                          119384 non-null  int64
 12  meal                            119384 non-null  object
 13  country                         118896 non-null  object
 14  market_segment                  119384 non-null  object
 15  distribution_channel            119384 non-null  object
 16  is_repeated_guest               119384 non-null  int64
 17  previous_cancellations          119384 non-null  int64
 18  previous_bookings_not_canceled  119384 non-null  int64
 19  reserved_room_type              119384 non-null  object
 20  assigned_room_type              119384 non-null  object
 21  booking_changes                 119384 non-null  int64
 22  deposit_type                    119384 non-null  object
 23  agent                           103044 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119384 non-null  int64
 26  customer_type                   119384 non-null  object
 27  adr                             119384 non-null  float64
 28  required_car_parking_spaces     119384 non-null  int64
 29  total_of_special_requests       119384 non-null  int64
 30  reservation_status              119384 non-null  object
 31  reservation_status_date         119384 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [555]:
df.isna().sum() # Check for missing values

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112587
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Clearly There are missing values from children, country, agent, and company columns!

In [556]:
df.describe() # Check statistical summary of numerical variables

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119384.000000,119384.000000,119384.000000,119384.000000,119384.000000,119384.000000,119384.000000,119384.000000,119380.000000,119384.000000,119384.000000,119384.000000,119384.000000,119384.000000,103044.000000,6797.000000,119384.000000,119384.000000,119384.000000,119384.000000
mean,0.370435,104.013511,2016.156529,27.165340,15.798206,0.927612,2.500343,1.856421,0.103895,0.007949,0.031914,0.087122,0.137104,0.221135,86.696411,189.266735,2.321266,101.830180,0.062521,0.571375
std,0.482923,106.864803,0.707477,13.604985,8.780841,0.998615,1.908313,0.579259,0.398571,0.097439,0.175771,0.844357,1.497474,0.652320,110.776777,131.655015,17.595155,50.536429,0.245297,0.792810
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.280000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.560000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

#### **Missing / Null values**

Dealing with missing values can be done by deleting, filling. However deleting some columns such as (agent,company,country) can impact our visulazation.

- Agent	ID of the travel agency that made the booking
- Company	ID of the company/entity that made the booking or responsible for paying the booking.
- Children		Number of children
- Country		Country of origin.

In [557]:
df["agent"].fillna(0, inplace = True)
df["company"].fillna(0, inplace = True)
df["children"].fillna(0, inplace = True)
df["country"].fillna('No country', inplace = True)

In [558]:
df.isna().sum() # Re-Check for missing values

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

#### **Change the datatypes** 

It appears that children, agent, and company use float dtype which seems unnecessary and should be changed to int

In [559]:
df['children'] = df['children'].astype('int64')
df['agent'] = df['agent'].astype('int64')
df['company'] = df['company'].astype('int64')

In [560]:
df.dtypes # Re-Check data type of each column

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
company                             int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

#### **Duplicate values**

In [561]:
df[df.duplicated()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,0,0,Transient,98.00,0,1,Check-Out,7/3/2015
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250,0,0,Transient,84.67,0,1,Check-Out,7/7/2015
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250,0,0,Transient,137.00,0,1,Check-Out,7/7/2015
138,Resort Hotel,1,5,2015,July,28,5,1,0,2,...,No Deposit,240,0,0,Transient,97.00,0,0,Canceled,7/1/2015
200,Resort Hotel,0,0,2015,July,28,7,0,1,1,...,No Deposit,240,0,0,Transient,109.80,0,3,Check-Out,7/8/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119343,City Hotel,0,186,2017,August,35,31,0,3,2,...,No Deposit,9,0,0,Transient,126.00,0,2,Check-Out,9/3/2017
119346,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9,0,0,Transient-Party,195.33,0,2,Check-Out,9/3/2017
119347,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9,0,0,Transient-Party,195.33,0,2,Check-Out,9/3/2017
119348,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9,0,0,Transient-Party,195.33,0,2,Check-Out,9/3/2017
119367,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42,0,0,Transient,82.35,0,1,Check-Out,9/4/2017

In [562]:
df.duplicated().sum()

31993

It can be noted that there is 31994 duplicated values therefore deleteing them should be sufficient

In [563]:
df.drop_duplicates(keep='first',inplace=True)

In [564]:
df.duplicated().sum() # Re-Check number of duplicates

0

#### **Clean Dirty Data**

Improvemnts that I noticed with the data were:
- Countries names should be based on continents rather than countries shortcut
- Meals names should be complete and not only shortcuts

##### Continents names

In [565]:
# CONVERT ISO COUNTRY ALPHA3 TO COUNTRY NAME
def alpha3_to_country(country_alpha3):    
    country_alpha2 = pc.country_alpha3_to_country_alpha2(country_alpha3)
    country_name = pc.country_alpha2_to_country_name(country_alpha2,cn_name_format="default")
    return country_name

In [566]:
# CONVERT COUNTRY NAME TO CONTINENT 
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [567]:
# ADD CONTINENTS COL TO DF
def return_continents(countries):
    continents = []
    for c in df['country']:
        if c == 'No country':
            continents.append('No country')
            continue
        country = alpha3_to_country(c.upper())
        continent = country_to_continent(country)
        continents.append(continent)
    return continents
df['continents'] = return_continents(df['country'])

##### Meal names

In [568]:
df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

In [569]:
df['meal'].replace({'BB': 'Bed & Breakfast','FB' : 'Full board','HB' : 'Half board', 'SC' : 'No meal'}, inplace=True)

In [570]:
df['meal'].unique() # Re-Check that meals names changed

array(['Bed & Breakfast', 'Full board', 'Half board', 'No meal',
       'Undefined'], dtype=object)

#### **Plot the Data**

To plot the Data I used 3 plots, which are:
- **Time series analysis:** a plot that shows the number of each resevation in each month for each hotel(City, Resort).
- **Pie Chart:** a plot that shows the resevation number of each continets in each month for each hotel(City, Resort).
- **Bar Chart:** a plot that shows the cancellations rate % for each hotel(City, Resort).